<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729322644360-u5mn7hlr17h5e04piolpf8pshq5b3uc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729322644360-u5mn7hlr17h5e04piolpf8pshq5b3uc5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729322644360-llus2au7g894p00i74s1b6ehvfhbhnk5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqaqkpt-mf3OIYey0FOBloURmGLkxqN7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>729322644360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payflow</string>
	<key>PROJECT_ID</key>
	<string>payflow-e9031</string>
	<key>STORAGE_BUCKET</key>
	<string>payflow-e9031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729322644360:ios:a9335a23edeed249e7903d</string>
</dict>
</plist>